<div [ngClass]="['container min-vh-100 mb-5']">
  <div [ngClass]="['row mt-5 d-flex justify-content-center align-items-center mb-5']">
    <div [ngClass]="['col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center px-5']">
      <img [src]="project.image" alt="Representación del proyecto: {{project.title}}" [ngClass]="['shadow p-3 rounded pro-card']" />
    </div>

    <div [ngClass]="['text-center mt-5 mb-2']">
      <h1 [ngClass]="['title fa-3x']">
        {{project.title}}
      </h1>
    </div>
  </div>

  <div [ngClass]="['row mt-5 d-flex justify-content-center align-items-center mb-5']">
    <div [ngClass]="['col-12 col-lg-7 d-flex justify-content-center justify-content-md-center px-5']">
      <video *ngIf="project.title" title="Vídeo {{ project.title }}" allowfullscreen controls width="100%">
        <source [src]="getSanitizedVideoProjectURL(project.title)" type="video/webm">
        El vostre navegador no admet vídeos incrustats :(
      </video>
    </div>
  </div>

  <div [ngClass]="['row mx-3 ck-content']" [innerHTML]="sanitizedProjectHtml"></div>

  <div [ngClass]="['row d-flex justify-content-center mt-5']">
    <div [ngClass]="['col-md-6 col-lg-3']">
      <a [routerLink]="['/manage']" *ngIf="user != null" [ngClass]="['btn btn-primary m-5']">
        <i [ngClass]="['fas fa-tasks']"></i> Administrar proyectos
      </a>
      <hr/>
      <div [ngClass]="['d-flex flex-wrap justify-content-center']">
        <h2>#Tags</h2>
        <a *ngFor="let tag of project.tags; let i = index" [ngClass]="['pe-auto mx-2 my-2 pointer']" (click)="listProjectByTag(tag)">#{{tag}}</a>
      </div>
    </div>
  </div>
</div>