<header [ngClass]="['sticky-top']">
    <div [ngClass]="['collapse i-a']" id="headerNavbar">
        <div [ngClass]="['container i-a']">
            <div [ngClass]="['row i-a']">
                <div [ngClass]="['text-center p-5 i-a']">
                    <ul [ngClass]="['navbar-nav mr-auto']">
                        <li [ngClass]="['nav-item my-3']">
                            <a [routerLink]="['/cv']" [ngClass]="['btn btn-outline-light border border-bottom-1 mx-3']" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                                <i [ngClass]="['fas fa-user-graduate']"></i> CV
                            </a>
                        </li>
                        <li [ngClass]="['nav-item my-3']">
                            <a [routerLink]="['/projects']" [ngClass]="['btn btn-outline-light border border-bottom-1 mx-3']" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                                <i [ngClass]="['fas fa-briefcase']"></i> Proyectos
                            </a>
                        </li>
                        <hr [ngClass]="['text-light']" />
                        <li [ngClass]="['nav-item my-3']">
                            <a [routerLink]="['/manage']" [ngClass]="['btn btn-outline-light mx-3']" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                                <i [ngClass]="['far fa-user']"></i> Administrar
                            </a>
                        </li>
                        <li [ngClass]="['nav-item my-3']">
                            <a [routerLink]="['/home']" [ngClass]="['btn btn-primary mx-3']" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                                <i [ngClass]="['far fa-user']"></i> Iniciar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav [ngClass]="getClassesIfRouteIsHome('navbar navbar-dark')">
        <div [ngClass]="getClassesIfRouteIsHome('container-fluid')">
            <a [routerLink]="['/home']" [routerLinkActive]="['active']" [ngClass]="getClassesIfRouteIsHome('d-flex justify-content-start align-items-center text-light px-4')">
                <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
                <h3 [ngClass]="['fw-normal px-1 m-0 h-font-header']"> Portfolio</h3>
            </a>
            <div [ngClass]="['d-none d-lg-block']">
                <a [routerLink]="['/cv']" [routerLinkActive]="['active']" [ngClass]="['btn btn-sm btn-outline-light mx-2 border-0']">
                    <i [ngClass]="['fas fa-user-graduate']"></i> CV
                </a>
                <div class="btn-group">
                    <button [routerLink]="['/projects']" [routerLinkActive]="['active']" [ngClass]="['btn btn-sm btn-outline-light border-0']" type="button">
                        <i [ngClass]="['fas fa-briefcase']"></i> Proyectos
                    </button>
                    <button type="button" [ngClass]="['btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split border-0 me-2']" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="['dropdown-item']" [routerLink]="['/projects']" [routerLinkActive]="['active']"><i [ngClass]="['fas fa-briefcase']"></i> Proyectos</a></li>
                        <li>
                            <hr [ngClass]="['dropdown-divider']">
                        </li>
                        <li><a [ngClass]="['dropdown-item']" [routerLink]="['/manage']" [routerLinkActive]="['active']" href="#"><i [ngClass]="['fas fa-tasks']"></i> Administrar</a></li>
                    </ul>
                </div>
                <span [ngClass]="['text-muted']">|</span>
                <a [routerLink]="['/home']" [ngClass]="['btn btn-sm btn-primary mx-1 mx-2 border-0']">
                    <i [ngClass]="['fas fa-sign-in-alt']"></i> Iniciar sesión
                </a>
            </div>
            <button [ngClass]="['navbar-toggler nv-toggler-height d-lg-none px-3 border-0']" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span [ngClass]="['navbar-toggler-icon']"></span>
            </button>
        </div>
    </nav>
</header>