<header [ngClass]="['sticky-top']">
  <div [ngClass]="['collapse i-a backdrop-filter']" id="headerNavbar">
    <div [ngClass]="['container']">
      <div [ngClass]="['row']">
        <div [ngClass]="['text-center p-5']">
          <ul [ngClass]="['navbar-nav mr-auto']">
            <li [ngClass]="['nav-item my-3']">
              <a [routerLink]="['/cv']" [routerLinkActive]="['active']"
                [ngClass]="['btn btn-outline-light border border-bottom-1 mx-3']" data-bs-toggle="collapse"
                data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <i [ngClass]="['fas fa-user-graduate']"></i> CV
              </a>
            </li>
            <li [ngClass]="['nav-item my-3']">
              <a [routerLink]="['/projects']" [routerLinkActive]="['active']"
                [ngClass]="['btn btn-outline-light border border-bottom-1 mx-3']" data-bs-toggle="collapse"
                data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <i [ngClass]="['fas fa-briefcase']"></i> Proyectos
              </a>
            </li>
            <li *ngIf="user != null" [ngClass]="['nav-item my-3']">
              <a [routerLink]="['/manage']" [routerLinkActive]="['active']" [ngClass]="['btn btn-outline-light mx-3']"
                data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <i [ngClass]="['fas fa-tasks']"></i> Administrar proyectos
              </a>
            </li>
            <hr [ngClass]="['text-light']" />
            <li *ngIf="user == null" [ngClass]="['nav-item my-3']">
              <a [routerLink]="['/login']" [routerLinkActive]="['active']" [ngClass]="['btn btn-primary mx-3']"
                data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <i [ngClass]="['fas fa-sign-in-alt']"></i> Iniciar sesión
              </a>
            </li>
            <li *ngIf="user != null" [ngClass]="['nav-item my-3']">
              <a [ngClass]="['btn btn-danger mx-3']" [routerLinkActive]="['active']" data-bs-toggle="modal"
                data-bs-target="#logout_modal">
                <i [ngClass]="['fas fa-sign-out-alt']"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav [ngClass]="getClassesIfRouteIsHome('navbar navbar-dark')">
    <div [ngClass]="['container-fluid']">
      <a [routerLink]="['/home']" [routerLinkActive]="['active']"
        [ngClass]="['d-flex justify-content-start align-items-center text-light px-4']">
        <i [ngClass]="['fas fa-user-graduate m-0 ms-2 i-font-header']"></i>
        <h3 [ngClass]="['fw-normal px-1 m-0 h-font-header']"></h3>
      </a>
      <div [ngClass]="['d-none d-lg-block']">
        <a [routerLink]="['/cv']" [routerLinkActive]="['active']"
          [ngClass]="['btn btn-sm btn-outline-light mx-2 border-0']">
          <i [ngClass]="['fas fa-user-graduate']"></i> CV
        </a>
        <div [ngClass]="['btn-group']">
          <a [routerLink]="['/projects/tags/:tag_pro']" [routerLinkActive]="['active']"
            [ngClass]="['btn btn-sm btn-outline-light border-0']">
            <i [ngClass]="['fas fa-briefcase']"></i> Proyectos
          </a>
          <a *ngIf="user != null"
            [ngClass]="['btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split border-0']"
            data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul *ngIf="user != null" [ngClass]="['dropdown-menu']">
            <li>
              <a [routerLink]="['/projects/tags/:tag_pro']" [routerLinkActive]="['active']"
                [ngClass]="['dropdown-item']">
                <i [ngClass]="['fas fa-briefcase']"></i> Proyectos
              </a>
            </li>
            <li>
              <hr [ngClass]="['dropdown-divider']">
            </li>
            <li>
              <a [routerLink]="['/manage']" [routerLinkActive]="['active']" [ngClass]="['dropdown-item']">
                <i [ngClass]="['fas fa-tasks']"></i> Administrar
              </a>
            </li>
          </ul>
        </div>
        <span [ngClass]="['text-muted mx-2']"> | </span>
        <a *ngIf="user == null" [routerLink]="['/login']" [ngClass]="['btn btn-sm btn-primary mx-1 border-1']">
          <i [ngClass]="['fas fa-sign-in-alt']"></i> Iniciar sesión
        </a>
        <a *ngIf="user != null" [ngClass]="['btn btn-sm btn-danger mx-1 border-1']" data-bs-toggle="modal"
          data-bs-target="#logout_modal">
          <i [ngClass]="['fas fa-sign-in-alt']"></i> Cerrar sesión
        </a>
      </div>
      <button [ngClass]="['navbar-toggler nv-toggler-height d-lg-none px-3 border-0']" type="button"
        data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span [ngClass]="['navbar-toggler-icon']"></span>
      </button>
    </div>
  </nav>
</header>
<div [ngClass]="['modal fade']" id="logout_modal" tabindex="-1" aria-labelledby="logout_modalLabel" aria-hidden="true">
  <div [ngClass]="['modal-dialog']">
    <div [ngClass]="['modal-content']">
      <div [ngClass]="['modal-header']">
        <h5 [ngClass]="['modal-title text-danger']" id="logout_modalLabel"><i [ngClass]="['fas fa-sign-out-alt']"></i>
          Seguro que quiere cerrar sesión?</h5>
        <button type="button" [ngClass]="['btn-close']" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div [ngClass]="['modal-footer']">
        <button type="button" [ngClass]="['btn btn-secondary']" data-bs-dismiss="modal">Cancelar</button>
        <a [routerLink]="['/home']" (click)="logout()" [ngClass]="['btn btn-danger']" data-bs-dismiss="modal">
          <i [ngClass]="['fas fa-sign-out-alt']"></i> Cerrar sesión
        </a>
      </div>
    </div>
  </div>
</div>