<div [ngClass]="['container min-vh-100 mb-5']">
  <div [ngClass]="['row text-center mt-5 mb-2']">
    <i [ngClass]="['fas fa-tasks me-2 fa-4x']"></i>
    <h1 [ngClass]="['title fa-3x']">
      Administrar proyectos
    </h1>
  </div>

  <div *ngIf="!managing" [ngClass]="['row d-flex justify-content-center']">
    <div [ngClass]="['col-12 col-lg-5']">
      <div [ngClass]="['input-group mb-3']">
        <input type="text" [ngClass]="['form-control']" placeholder="Buscar proyecto por título" (keydown)="onKeyDown($event)" [(ngModel)]="titleFilter" aria-label="Buscar proyecto por título" aria-describedby="basic-addon2">
        <div [ngClass]="['input-group-append']">
          <button type="button" [ngClass]="['btn btn-outline-secondary']" (click)="listProjectByTitle()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div [ngClass]="['d-flex flex-wrap justify-content-center']">
        <h2>#Tags</h2>
        <a *ngFor="let tag of allProjectsTags; let i = index" (click)="listProjectByTag(tag)" [ngClass]="['pe-auto mx-2 my-2 pointer']">#{{tag}}</a>
      </div>
    </div>

    <div [ngClass]="['col-12']">
      <button type="button" [ngClass]="['btn btn-primary m-4']" (click)="clearProject()">
        <i [ngClass]="['fas fa-plus']"></i> Añadir proyecto
      </button>
      <table id="list_news_articles" [ngClass]="['table caption-top table-striped table-hover table-responsive']">
        <thead>
          <tr *ngIf="projectsFound()">
            <th scope="col">Título proyecto</th>
            <th scope="col">Descripción</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of projects; let i = index">
            <th [ngClass]="['col-3 align-middle']">
              <img [src]="pro.image" alt="Representación del proyecto {{ i+1 }}: {{ pro.title }}" [ngClass]="['rounded pro-card-manage me-2']" /> {{ pro.title }}
            </th>
            <td [ngClass]="['col-5 align-middle']">
              {{ pro.desc }}
            </td>
            <td [ngClass]="['align-middle']">
              <button type="button" [ngClass]="['btn btn-outline-info']" (click)="loadProject(i, false)" data-bs-toggle="modal" data-bs-target="#viewProjectModal">
                <i [ngClass]="['far fa-eye']"></i> Vista previa
              </button>
            </td>
            <td [ngClass]="['align-middle']">
              <a [ngClass]="['btn btn-outline-warning']" (click)="loadProject(i)">
                <i [ngClass]="['fas fa-pen']"></i> Modificar
              </a>
            </td>
            <td [ngClass]="['align-middle']">
              <button type="button" [ngClass]="['btn btn-outline-danger']" (click)="deleteProject(i)">
                <i [ngClass]="['fas fa-trash-alt']"></i> Eliminar
              </button>
            </td>
          </tr>
          <tr *ngIf="!projectsFound()">
            <th scope="col" colspan="5">
              <h4>Ningún proyecto encontrado</h4>
            </th>
          </tr>
        </tbody>
      </table>
      <button type="button" *ngIf="projectsFound()" [ngClass]="['btn btn-primary m-4']" (click)="clearProject()">
        <i [ngClass]="['fas fa-plus']"></i> Añadir proyecto
      </button>
    </div>
  </div>

  <div id="manage">
    <div *ngIf="managing">
      <div [ngClass]="['d-flex justify-content-start align-items-center px-4']">
        <div [ngClass]="['d-flex justify-content-start align-items-center']" *ngIf="mode == 'add'">
          <i [ngClass]="['fas fa-plus me-2']"></i>
          <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
          <h2 [ngClass]="['modal-title']">
            Nuevo proyecto
          </h2>
        </div>

        <div [ngClass]="['d-flex justify-content-start align-items-center']" *ngIf="mode == 'update'">
          <i [ngClass]="['fas fa-pen m-0 me-2 i-font-header']"></i>
          <h2 [ngClass]="['modal-title']">
            Modificar proyecto
          </h2>
        </div>
        <button type="button" [ngClass]="['btn btn-secondary m-5']" (click)="managing = false">Cancelar</button>
      </div>

      <div [ngClass]="['text-center']">
        <img id="pro_img" [src]="project.image" *ngIf="isImageLoaded()" alt="Representación del proyecto: {{project.title}}" [ngClass]="['shadow p-3 mb-5 rounded pro-card']" />

        <div [ngClass]="['d-flex justify-content-center']">
          <div [ngClass]="['form-floating mb-5 w-50']">
            <input type="text" [ngClass]="['form-control']" id="pro_image" [(ngModel)]="project.image" placeholder="Imagen" required>
            <label for="pro_image">Imagen</label>
            <div [ngClass]="!isImageLoaded() ? 'text-primary d-block mt-2' : 'd-none'">
              Porfavor, indique una imagen válida.
            </div>
          </div>
        </div>
        <div [ngClass]="['form-floating mb-3 w-50']">
          <input type="text" [ngClass]="['form-control']" id="pro_title" [(ngModel)]="project.title" placeholder="Título proyecto" required>
          <label for="pro_title">Título proyecto</label>
        </div>
        <div [ngClass]="['form-floating mb-3 w-50']">
          <input type="text" [ngClass]="['form-control']" id="pro_desc" [(ngModel)]="project.desc" placeholder="Password" required>
          <label for="pro_desc">Descripción</label>
        </div>
        <div [ngClass]="['form-floating mb-3 w-50']">
          <input type="text" [ngClass]="['form-control']" id="pro_tags" [(ngModel)]="tags" placeholder="Tags" required>
          <label for="pro_tags">Tags</label>
        </div>

        <ckeditor id="pro_html" [editor]="dataEditor" [config]="editorConfig" [(ngModel)]="project.html"></ckeditor>

        <button type="button" [ngClass]="['btn btn-secondary m-5']" (click)="managing = false">Cancelar</button>
        <button type="button" *ngIf="mode == 'add'" [disabled]="!isImageLoaded()" (click)="addProject()" [ngClass]="['btn btn-primary m-5']">
          <i [ngClass]="['fas fa-plus']"></i> Añadir
        </button>
        <button type="button" *ngIf="mode == 'update'" [disabled]="!isImageLoaded()" (click)="updateProject()" [ngClass]="['btn btn-primary m-5']">
          <i [ngClass]="['fas fa-pen']"></i> Modificar
        </button>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="['modal fade']" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModalLabel" aria-hidden="true">
  <div [ngClass]="['modal-dialog modal-dialog-centered']">
    <div [ngClass]="['modal-content']">
      <div [ngClass]="['modal-header']">
        <div [ngClass]="['d-flex justify-content-start align-items-center px-4']">
          <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
          <h5 [ngClass]="['modal-title']">
            {{ project.title }}
          </h5>
        </div>
        <button type="button" [ngClass]="['btn-close']" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div [ngClass]="['modal-body']">
        <div [ngClass]="['text-center']">
          <img [src]="project.image" alt="Representación del proyecto: {{ project.title }}" [ngClass]="['shadow p-3 rounded pro-card']" />
          <h1 [ngClass]="['my-3']">{{ project.title }}</h1>
          <button type="button" [ngClass]="['btn btn-outline-primary my-3']" (click)="viewProject(project.id)" data-bs-dismiss="modal">
            <i [ngClass]="['fas fa-external-link-alt']"></i> Saber más
          </button>
        </div>
        <div [ngClass]="['d-flex justify-content-center justify-content-md-start mx-2']">
          {{project.desc}}
        </div>
        <hr />
        <h3>#Tags</h3>
        <div [ngClass]="['d-flex justify-content-center aling-items-center mx-2 my-3']">
          <a *ngFor="let tag of project.tags; let i = index" (click)="listProjectByTag(tag)" data-bs-dismiss="modal" [ngClass]="['mx-2 pointer']">#{{ tag }}</a>
        </div>
      </div>

      <div [ngClass]="['modal-footer']">
        <button type="button" [ngClass]="['btn btn-secondary']" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>