<div [ngClass]="['container min-vh-100 mb-5']">
    <div [ngClass]="['d-flex justify-content-center align-items-center px-4']">
        <i [ngClass]="['fas fa-tasks me-2 fa-4x']"></i>
        <h1 [ngClass]="['title my-5 fa-4x']">
            Administrar proyectos
        </h1>
    </div>
    <!-- <h1 [ngClass]="['title d-flex justify-content-center my-5 fa-4x']">
        <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i> Administrar proyectos
    </h1> -->
    <!-- <h1 [ngClass]="['title d-flex justify-content-center my-5 fa-4x']">Portfolio
        <span [ngClass]="['title-span d-none d-sm-block']">&nbsp;|&nbsp;</span>
        <span [ngClass]="['title-span d-none d-sm-block']">Administrar proyectos</span>
    </h1> -->
    <!-- <div [ngClass]="['row d-flex']">
    <nav aria-label="Page navigation example">
      <ul [ngClass]="['pagination d-flex justify-content-center']">
        <li [ngClass]="getCurrRoute('h')">
          <button [ngClass]="['page-link']" (click)="viewMetawheaterHistory()">Històric d'avui</button>
        </li>
        <li [ngClass]="getCurrRoute('f')">
          <button [ngClass]="['page-link']" (click)="viewMetawheaterForecast()">Previsions</button>
        </li>
      </ul>
    </nav>
  </div> -->

    <div [ngClass]="['row']">
        <div [ngClass]="['col-12 col-lg-4']">
            <div [ngClass]="['input-group mb-3']">
                <input type="text" [ngClass]="['form-control']" placeholder="Buscar por título" [(ngModel)]="titleFilter" aria-label="Buscar por título" aria-describedby="basic-addon2">
                <div [ngClass]="['input-group-append']">
                    <button [ngClass]="['btn btn-outline-secondary']" type="button" (click)="searchProjects()"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>
        <div [ngClass]="['col-12']">
            <a type="button" [ngClass]="['btn btn-primary m-4']" (click)="clearProject()" data-bs-toggle="modal" data-bs-target="#add_and_update_projectModal">
                <i [ngClass]="['fas fa-plus']"></i> Añadir proyecto
            </a>
            <table id="list_news_articles" [ngClass]="['table caption-top table-striped table-hover table-responsive']">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pro of projects; let i = index">
                        <th [ngClass]="['col-3 align-middle']">
                            <img [src]="pro.image" alt="Representación del proyecto {{ i+1 }}: {{ pro.title }}" [ngClass]="['rounded pro-card-manage me-2']" /> {{ pro.title }}
                        </th>
                        <td [ngClass]="['col-5 align-middle']">
                            {{ pro.desc }}
                        </td>
                        <td [ngClass]="['align-middle']">
                            <button type="button" [ngClass]="['btn btn-outline-info']" (click)="loadProject(i)" data-bs-toggle="modal" data-bs-target="#viewProjectModal">
                                <i [ngClass]="['far fa-eye']"></i> Vista previa
                            </button>
                        </td>
                        <td [ngClass]="['align-middle']">
                            <button type="button" [ngClass]="['btn btn-outline-warning']" (click)="loadProject(i)" data-bs-toggle="modal" data-bs-target="#add_and_update_projectModal">
                                <i [ngClass]="['fas fa-pen']"></i> Modificar
                            </button>
                        </td>
                        <td [ngClass]="['align-middle']">
                            <button type="button" [ngClass]="['btn btn-outline-danger']" (click)="deleteProject(i)">
                                <i [ngClass]="['fas fa-trash-alt']"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a type="button" [ngClass]="['btn btn-primary m-4']" (click)="clearProject()" data-bs-toggle="modal" data-bs-target="#add_and_update_projectModal">
                <i [ngClass]="['fas fa-plus']"></i> Añadir proyecto
            </a>
        </div>
    </div>
</div>

<div [ngClass]="['modal fade']" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModalLabel" aria-hidden="true">
    <div [ngClass]="['modal-dialog modal-dialog-centered']">
        <div [ngClass]="['modal-content']">
            <div [ngClass]="['modal-header']">
                <div [ngClass]="['d-flex justify-content-start align-items-center px-4']">
                    <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
                    <h5 [ngClass]="['modal-title']">
                        {{ project.title }}
                    </h5>
                </div>
                <button type="button" [ngClass]="['btn-close']" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [ngClass]="['modal-body']">
                <div [ngClass]="['text-center']">
                    <img [src]="project.image" alt="Representación del proyecto: {{ project.title }}" [ngClass]="['shadow p-3 rounded pro-card']" />
                    <h1 [ngClass]="['my-3']">{{ project.title }}</h1>
                </div>
                <hr />
                <div [ngClass]="['d-flex justify-content-center justify-content-md-start mx-2']">
                    {{project.desc}}
                </div>
                <hr />
                <h3>#Tags</h3>
                <div [ngClass]="['d-flex justify-content-center aling-items-center mx-2 my-3']">
                    <a *ngFor="let tag of project.tags; let i = index" href="{{ tag }}" [ngClass]="['mx-2']">#{{ tag }}</a>
                </div>
            </div>
            <div [ngClass]="['modal-footer']">
                <button type="button" [ngClass]="['btn btn-secondary']" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="['modal fade']" id="add_and_update_projectModal" tabindex="-1" aria-labelledby="add_and_update_projectModalLabel" aria-hidden="true">
    <div [ngClass]="['modal-dialog modal-dialog-centered']">
        <div [ngClass]="['modal-content']">
            <div [ngClass]="['modal-header']">
                <div [ngClass]="['d-flex justify-content-start align-items-center px-4']" *ngIf="mode == 'add'">
                    <i [ngClass]="['fas fa-plus me-2']"></i>
                    <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
                    <h5 [ngClass]="['modal-title']">
                        Nuevo proyecto
                    </h5>
                </div>
                <div [ngClass]="['d-flex justify-content-start align-items-center px-4']" *ngIf="mode == 'update'">
                    <i [ngClass]="['fas fa-pen m-0 me-2 i-font-header']"></i>
                    <h5 [ngClass]="['modal-title']">
                        Modificar proyecto
                    </h5>
                </div>
                <button type="button" [ngClass]="['btn-close']" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [ngClass]="['modal-body']">
                <div [ngClass]="['text-center']">
                    <div [ngClass]="['form-floating mb-3']">
                        <img id="pro_add_img" [src]="project.image" *ngIf="isImageLoaded()" alt="Representación del proyecto: {{project.title}}" [ngClass]="['shadow p-3 mb-5 rounded pro-card']" />
                        <input type="text" [ngClass]="['form-control']" id="pro_add_image" [(ngModel)]="project.image" placeholder="Imagen" required>
                        <label for="pro_add_image">Imagen</label>
                        <div [ngClass]="!isImageLoaded() ? 'text-primary d-block mt-2' : 'd-none'">
                            Porfavor, indique una imagen válida.
                        </div>
                    </div>
                    <div [ngClass]="['form-floating mb-3']">
                        <input type="text" [ngClass]="['form-control']" id="pro_add_title" [(ngModel)]="project.title" placeholder="Título" required>
                        <label for="pro_add_title">Título</label>
                    </div>
                    <div [ngClass]="['form-floating mb-3']">
                        <input type="text" [ngClass]="['form-control']" id="pro_add_desc" [(ngModel)]="project.desc" placeholder="Password" required>
                        <label for="pro_add_desc">Descripción</label>
                    </div>
                    <div [ngClass]="['form-floating mb-3']">
                        <textarea [ngClass]="['form-control']" id="pro_add_html" [(ngModel)]="project.html" placeholder="HTML" rows="10" cols="10" required></textarea>
                        <label for="pro_add_html">HTML</label>
                    </div>
                    <hr />
                    <div [ngClass]="['form-floating']">
                        <input type="text" [ngClass]="['form-control']" id="pro_add_tags" [(ngModel)]="tags" placeholder="Tags" required>
                        <label for="pro_add_tags">Tags</label>
                    </div>
                </div>
            </div>
            <div [ngClass]="['modal-footer']">
                <button type="button" [ngClass]="['btn btn-secondary']" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" [ngClass]="['btn btn-primary']" *ngIf="mode == 'add'" (click)="addProject()" [disabled]="!isImageLoaded()" data-bs-dismiss="modal">
                    <i [ngClass]="['fas fa-plus']"></i> Añadir
                </button>
                <button type="button" [ngClass]="['btn btn-primary']" *ngIf="mode == 'update'" (click)="updateProject()" data-bs-dismiss="modal">
                    <i [ngClass]="['fas fa-plus']"></i> Modificar
                </button>
            </div>
        </div>
    </div>
</div>