<div [ngClass]="['container login-container d-flex justify-content-center h-100']">
    <!-- * Escriptori -->
    <!-- <div [ngClass]="['text-center pt-5 mt-5 d-none d-md-block']">
        <i [ngClass]="['fab fa-google fa-4x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Iniciar sessión
        </h1>
        <p>Inicia sessión con Google.</p>
        <button type="button" [ngClass]="['btn btn-outline-primary']" (click)="login()">
            <i [ngClass]="['fab fa-google']"></i> Iniciar sessión
        </button>
    </div> -->
    <!-- * Mòbil-tablet -->
    <!-- <div [ngClass]="['text-center mt-n5 align-self-center d-block d-md-none']">
        <i [ngClass]="['fab fa-google fa-4x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Iniciar sessión
        </h1>
        <p>Inicia sessión con Google.</p>
        <button type="button" [ngClass]="['btn btn-outline-primary']" (click)="login()">
            <i [ngClass]="['fab fa-google']"></i> Iniciar sessión
        </button>
    </div> -->
    <div [ngClass]="['text-center align-self-center login-container-content shadow p-5 rounded']">
        <i [ngClass]="['fab fa-google fa-4x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Iniciar sessión
        </h1>
        <p>Inicia sessión con Google.</p>
        <button *ngIf="!userDenied" type="button" [ngClass]="['btn btn-outline-primary']" (click)="login()">
            <i [ngClass]="['fab fa-google']"></i> Iniciar sesión
        </button>
        <button *ngIf="userDenied" type="button" [ngClass]="['btn btn-outline-primary']" (click)="login()">
            <i [ngClass]="['fas fa-exchange-alt']"></i> Cambiar usuario
        </button>
        <div [ngClass]="loginFailed ? 'd-block text-danger mt-3' : 'd-none'" title="Disabled tooltip">
            Se ha producido un error al iniciar sesión, por favor inténtelo de nuevo.
        </div>
        <div [ngClass]="userDenied ? 'd-block text-danger mt-3' : 'd-none'" data-bs-toggle="tooltip" title="Disabled tooltip">
            Usuario sin permisos.
        </div>
    </div>
</div>