<div [ngClass]="['container min-vh-100 mb-5']">
    <div [ngClass]="['row text-center mt-5 d-none d-md-block']">
        <i [ngClass]="['fas fa-user-graduate fa-4x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Curriculum Vitae
        </h1>
        <p>Puedes descargar el CV en formato PDF con el botón al final de la página.</p>
    </div>
    <div [ngClass]="['cv-container-wrapper mt-4 d-none d-md-block']">
        <div [ngClass]="['cv-container-pdf']">
            <div [ngClass]="['cv-container-bg']">
                <img id="bg_cv_img">
            </div>
            <div [ngClass]="['div-cls_003_1 cls_003']"><span [ngClass]="['cls_003']">Curriculum vitae</span></div>
            <div [ngClass]="['div-cls_004_2 cls_004']"><span [ngClass]="['cls_004']">IONUT EUSEBIU ATUDOROAIE</span></div>
            <div [ngClass]="['div-cls_002_3 cls_002']"><span [ngClass]="['cls_002']">Móvil</span></div>
            <div [ngClass]="['div-cls_005_4 cls_005']"><span [ngClass]="['cls_005']">642 98 17 92</span></div>
            <div [ngClass]="['div-cls_002_5 cls_002']"><span [ngClass]="['cls_002']">E-Mail</span></div>
            <div [ngClass]="['div-cls_005_6 cls_005']"><span [ngClass]="['cls_005']">ionut.atudor@gmail.com</span></div>
            <div [ngClass]="['div-cls_002_7 cls_002']"><span [ngClass]="['cls_002']">Dirección</span></div>
            <div [ngClass]="['div-cls_005_8 cls_005']"><span [ngClass]="['cls_005']">C/ Del Carme - Nº 50, 4-1, Lleida 25007</span></div>
            <div [ngClass]="['div-cls_002_8 cls_002']"><span [ngClass]="['cls_002']">Permiso de conducir</span></div>
            <div [ngClass]="['div-cls_005_9 cls_005']"><span [ngClass]="['cls_005']">B - Coche propio</span></div>
            <div [ngClass]="['div-cls_006_10 cls_006']"><span [ngClass]="['cls_006']">Idiomas</span></div>
            <div [ngClass]="['div-cls_005_11 cls_005']"><span [ngClass]="['cls_005']">Rumano:</span><span [ngClass]="['cls_002']"> Nativo Alto.</span></div>
            <div [ngClass]="['div-cls_005_12 cls_005']"><span [ngClass]="['cls_005']">Castellano:</span><span [ngClass]="['cls_002']"> Alto.</span></div>
            <div [ngClass]="['div-cls_005_13 cls_005']"><span [ngClass]="['cls_005']">Catalán:</span><span [ngClass]="['cls_002']"> Alto.</span></div>
            <div [ngClass]="['div-cls_005_14 cls_005']"><span [ngClass]="['cls_005']">Inglés: </span><span [ngClass]="['cls_002']">Medio.</span></div>
            <div [ngClass]="['div-cls_006_15 cls_006']"><span [ngClass]="['cls_006']">Formación académica</span></div>
            <div [ngClass]="['div-cls_005_16 cls_005']"><span [ngClass]="['cls_005']">2012</span></div>
            <div [ngClass]="['div-cls_005_17 cls_005']"><span [ngClass]="['cls_005']">| ESO</span><span [ngClass]="['cls_002']"> INS Samuel Gili i Gaya.</span></div>
            <div [ngClass]="['div-cls_005_18 cls_005']"><span [ngClass]="['cls_005']"> </span>
                <a href="https://web.institutgiligaya.cat/">web.institutgiligaya.cat</a> </div>
            <div [ngClass]="['div-cls_002_19 cls_002']"><span [ngClass]="['cls_002']">Lleida</span></div>
            <div [ngClass]="['div-cls_005_20 cls_005']"><span [ngClass]="['cls_005']">2017</span></div>
            <div [ngClass]="['div-cls_005_21 cls_005']"><span [ngClass]="['cls_005']">| CFGM</span><span [ngClass]="['cls_002']"> INS Caparrella - Sistemas Microinformáticos y Redes.</span></div>
            <div [ngClass]="['div-cls_005_22 cls_005']"><span [ngClass]="['cls_005']">2019</span></div>
            <div [ngClass]="['div-cls_005_23 cls_005']"><span [ngClass]="['cls_005']">| CFGS</span><span [ngClass]="['cls_002']">  INS Caparrella - Desarrollo de Aplicaciones Web.</span></div>
            <div [ngClass]="['div-cls_005_24 cls_005']"><span [ngClass]="['cls_005']">(Cursando 2º Grado actualmente)</span></div>
            <div [ngClass]="['div-cls_005_25 cls_005']"><span [ngClass]="['cls_005']">Actualidad</span></div>
            <div [ngClass]="['div-cls_008_26 cls_008']"><span [ngClass]="['cls_008']"> </span>
                <a href="http://iescaparrella.cat/">iescaparrella.cat</a> </div>
            <div [ngClass]="['div-cls_002_27 cls_002']"><span [ngClass]="['cls_002']">Lleida</span></div>
            <div [ngClass]="['div-cls_006_28 cls_006']"><span [ngClass]="['cls_006']">Experiencia laboral</span></div>
            <div [ngClass]="['div-cls_005_29 cls_005']"><span [ngClass]="['cls_005']">2019</span></div>
            <div [ngClass]="['div-cls_005_30 cls_005']"><span [ngClass]="['cls_005']">| Prácticas en empresa</span><span [ngClass]="['cls_002']"> - iSAT Lleida 352 horas.</span></div>
            <div [ngClass]="['div-cls_005_31 cls_005']"><span [ngClass]="['cls_005']"> </span>
                <a href="https://isatlleida.com/">isatlleida.com</a> </div>
            <div [ngClass]="['div-cls_002_32 cls_002']"><span [ngClass]="['cls_002']">Lleida</span></div>
            <div [ngClass]="['div-cls_006_33 cls_006']"><span [ngClass]="['cls_006']">Informática</span></div>
            <div [ngClass]="['div-cls_005_34 cls_005']"><span [ngClass]="['cls_005']">Ofimática: </span><span [ngClass]="['cls_002']">Medio - Alto.</span></div>
            <div [ngClass]="['div-cls_005_35 cls_005']"><span [ngClass]="['cls_005']">Sistemas Operativos: </span><span [ngClass]="['cls_002']">Windows, Medio - Alto.</span></div>
            <div [ngClass]="['div-cls_002_36 cls_002']"><span [ngClass]="['cls_002']">Linux, Medio.</span></div>
        </div>
    </div>
    <div [ngClass]="['text-center mt-5 d-flex justify-content-center']">
        <div style="width: fit-content;" class="justify-content-center shadow rounded p-5">
        <i [ngClass]="['far fa-file-pdf mt-3 fa-6x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Curriculum vitae
        </h1>
        <p>Descargue el CV en formato PDF con el siguiente botón.</p>
        <a [ngClass]="['btn btn-primary my-3 mx-3']" download href="assets/pdf/CVIonutAtudoroaie2021.pdf">
            <i [ngClass]="['far fa-file-pdf']"></i> Descargar PDF
        </a>
        <a [ngClass]="['btn btn-primary my-3 mx-3']" target="_blank" href="assets/pdf/CVIonutAtudoroaie2021.pdf">
            <i [ngClass]="['fas fa-external-link-alt']"></i> Ver en nueva pestaña
        </a>
    </div>
    </div>
</div>