<div [ngClass]="['container-fluid min-vh-100 mb-5']">
    <h1 [ngClass]="['title d-flex justify-content-center my-5 fa-4x']">Ionut Atudoroaie
        <span [ngClass]="['title-span d-none d-sm-block']">&nbsp;|&nbsp;</span> <span [ngClass]="['title-span d-none d-sm-block']">CV</span>
    </h1>
    <div style="height: 841px;">
        <div style="position:absolute;left:50%;margin-left:-297px;top:190px;width:595px;height:841px;border-style:outset;overflow:hidden" class="shadow">
            <div style="position:absolute;left:0px;top:0px">
                <img id="bg_cv_img" width=595 height=841>
            </div>
            <div style="position:absolute;left:273.50px;top:49.11px" class="cls_003"><span class="cls_003">Curriculum vitae</span></div>
            <div style="position:absolute;left:34.00px;top:66.01px" class="cls_004"><span class="cls_004">IONUT EUSEBIU ATUDOROAIE</span></div>
            <div style="position:absolute;left:92.30px;top:119.31px" class="cls_002"><span class="cls_002">Móvil</span></div>
            <div style="position:absolute;left:92.30px;top:133.11px" class="cls_005"><span class="cls_005">642 98 17 92</span></div>
            <div style="position:absolute;left:183.00px;top:133.11px" class="cls_006"><span class="cls_006">Disponible en WhatsApp</span></div>
            <div style="position:absolute;left:92.30px;top:160.71px" class="cls_002"><span class="cls_002">E-Mail</span></div>
            <div style="position:absolute;left:92.30px;top:174.51px" class="cls_005"><span class="cls_005">ionut.atudor@gmail.com</span></div>
            <div style="position:absolute;left:92.30px;top:202.11px" class="cls_002"><span class="cls_002">Dirección</span></div>
            <div style="position:absolute;left:92.30px;top:215.91px" class="cls_005"><span class="cls_005">C/ Del Carme - Nº 50, 4-1, Lleida 25007</span></div>
            <div style="position:absolute;left:90.98px;top:243.51px" class="cls_002"><span class="cls_002">Permiso de conducir</span></div>
            <div style="position:absolute;left:90.98px;top:257.31px" class="cls_005"><span class="cls_005">B - Coche propio</span></div>
            <div style="position:absolute;left:59.60px;top:287.61px" class="cls_007"><span class="cls_007">Idiomas</span></div>
            <div style="position:absolute;left:59.60px;top:307.91px" class="cls_005"><span class="cls_005">Rumano:</span><span class="cls_002"> Nativo Alto.</span></div>
            <div style="position:absolute;left:59.60px;top:327.21px" class="cls_005"><span class="cls_005">Castellano:</span><span class="cls_002"> Alto.</span></div>
            <div style="position:absolute;left:59.60px;top:346.51px" class="cls_005"><span class="cls_005">Catalán:</span><span class="cls_002"> Alto.</span></div>
            <div style="position:absolute;left:59.60px;top:365.81px" class="cls_005"><span class="cls_005">Inglés: </span><span class="cls_002">Medio.</span></div>
            <div style="position:absolute;left:59.60px;top:404.41px" class="cls_007"><span class="cls_007">Formación académica</span></div>
            <div style="position:absolute;left:62.98px;top:424.71px" class="cls_005"><span class="cls_005">2012</span></div>
            <div style="position:absolute;left:181.60px;top:447.11px" class="cls_005"><span class="cls_005">| ESO</span><span class="cls_002"> INS Samuel Gili i Gaya.</span></div>
            <div style="position:absolute;left:409.50px;top:447.11px" class="cls_005"><span class="cls_005"> </span>
                <A HREF="https://web.institutgiligaya.cat/">web.institutgiligaya.cat</A> </div>
            <div style="position:absolute;left:502.40px;top:468.91px" class="cls_002"><span class="cls_002">Lleida</span></div>
            <div style="position:absolute;left:63.00px;top:481.01px" class="cls_005"><span class="cls_005">2017</span></div>
            <div style="position:absolute;left:181.60px;top:499.21px" class="cls_005"><span class="cls_005">| CFGM</span><span class="cls_002"> INS Caparrella - Sistemas Microinformáticos y Redes.</span></div>
            <div style="position:absolute;left:63.00px;top:514.41px" class="cls_005"><span class="cls_005">2019</span></div>
            <div style="position:absolute;left:181.60px;top:526.81px" class="cls_005"><span class="cls_005">| CFGS</span><span class="cls_002">  INS Caparrella - Desarrollo de Aplicaciones Web.</span></div>
            <div style="position:absolute;left:310.20px;top:540.61px" class="cls_005"><span class="cls_005">(Cursando 2º Grado actualmente)</span></div>
            <div style="position:absolute;left:70.60px;top:559.01px" class="cls_005"><span class="cls_005">Actualidad</span></div>
            <div style="position:absolute;left:443.10px;top:560.11px" class="cls_009"><span class="cls_009"> </span>
                <A HREF="http://iescaparrella.cat/">iescaparrella.cat</A> </div>
            <div style="position:absolute;left:501.40px;top:585.21px" class="cls_002"><span class="cls_002">Lleida</span></div>
            <div style="position:absolute;left:59.60px;top:604.51px" class="cls_007"><span class="cls_007">Experiencia laboral</span></div>
            <div style="position:absolute;left:62.98px;top:624.81px" class="cls_005"><span class="cls_005">2019</span></div>
            <div style="position:absolute;left:181.60px;top:638.61px" class="cls_005"><span class="cls_005">| Prácticas en empresa</span><span class="cls_002"> - iSAT Lleida 352 horas.</span></div>
            <div style="position:absolute;left:457.40px;top:652.41px" class="cls_005"><span class="cls_005"> </span>
                <A HREF="https://isatlleida.com/">isatlleida.com</A> </div>
            <div style="position:absolute;left:501.40px;top:671.71px" class="cls_002"><span class="cls_002">Lleida</span></div>
            <div style="position:absolute;left:59.60px;top:710.31px" class="cls_007"><span class="cls_007">Informática</span></div>
            <div style="position:absolute;left:59.60px;top:730.61px" class="cls_005"><span class="cls_005">Ofimática: </span><span class="cls_002">Medio - Alto.</span></div>
            <div style="position:absolute;left:229.80px;top:730.61px" class="cls_005"><span class="cls_005">Sistemas Operativos: </span><span class="cls_002">Windows, Medio - Alto.</span></div>
            <div style="position:absolute;left:346.22px;top:744.41px" class="cls_002"><span class="cls_002">Linux, Medio.</span></div>
        </div>
    </div>
</div>