<div [ngClass]="['container-fluid min-vh-100 mb-5']">
    <div [ngClass]="['row text-center mt-5 mb-2']">
        <i [ngClass]="['fas fa-briefcase fa-4x']"></i>
        <h1 [ngClass]="['title fa-3x']">
            Proyectos
        </h1>
        <p>Échale un vistazo a mis últimos proyectos.</p>
    </div>
    <div [ngClass]="['row d-flex justify-content-center']">
        <div [ngClass]="['col-md-6 col-lg-3']">
            <div [ngClass]="['input-group mb-3']">
                <input type="text" [ngClass]="['form-control']" placeholder="Buscar por título" [(ngModel)]="titleFilter" aria-label="Buscar por título" aria-describedby="basic-addon2">
                <div [ngClass]="['input-group-append']">
                    <button [ngClass]="['btn btn-outline-secondary']" type="button" (click)="filterProjects()"><i [ngClass]="['fas fa-search']"></i> Buscar</button>
                </div>
            </div>
            <div [ngClass]="['d-flex flex-wrap justify-content-center']">
                <h2>#Tags</h2>
                <a *ngFor="let tag of allProjectsTags; let i = index" (click)="listProjectByTag(tag)" [ngClass]="['pe-auto mx-2 my-2 pointer']">#{{tag}}</a>
            </div>
        </div>
    </div>
    <div *ngFor="let pro of projects; let i = index" [ngClass]="['row mt-5 d-flex justify-content-center align-items-center']">
        <div [ngClass]="getOrder('col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center px-5', i+1)">
            <img [src]="pro.image" alt="Representación del proyecto {{i+1}}: {{pro.title}}" [ngClass]="['shadow btn p-3 rounded pro-card']" (click)="loadProject(i)" data-bs-toggle="modal" data-bs-target="#viewProjectModal" />
        </div>
        <div [ngClass]="getOrder('col-12 col-md-6 col-lg-3', i+2)">
            <h1 [ngClass]="['d-flex justify-content-center justify-content-md-start m-1 mb-3 fa-3x']">
                <span [ngClass]="['title-span d-none d-sm-block fw-600']">|&nbsp;</span>{{pro.title}}
            </h1>
            <div [ngClass]="['d-flex justify-content-center justify-content-md-start mx-2']">
                {{pro.desc}}
            </div>
            <div [ngClass]="['d-flex flex-wrap justify-content-center justify-content-md-start aling-items-center mx-2 my-3']">
                <a *ngFor="let tag of pro.tags; let i = index" (click)="listProjectByTag(tag)" [ngClass]="['pe-auto mx-2 my-2 pointer']">#{{tag}}</a>
            </div>
            <div [ngClass]="['d-flex justify-content-center justify-content-md-end m-3']">
                <button type="button" (click)="viewProject(pro.id)" [ngClass]="['btn btn-outline-primary d-block']">
                    <i [ngClass]="['fas fa-external-link-alt']"></i> Saber más
                </button>
            </div>
        </div>
    </div>
    <div [ngClass]="['row d-flex justify-content-center mt-5']">
        <div [ngClass]="['col-md-6 col-lg-3']">
            <hr/>
            <div [ngClass]="['d-flex flex-wrap justify-content-center']">
                <h2>#Tags</h2>
                <a *ngFor="let tag of allProjectsTags; let i = index" (click)="listProjectByTag(tag)" [ngClass]="['pe-auto mx-2 my-2 pointer']">#{{tag}}</a>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="['modal fade']" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModalLabel" aria-hidden="true">
    <div [ngClass]="['modal-dialog modal-dialog-centered']">
        <div [ngClass]="['modal-content']">
            <div [ngClass]="['modal-header']">
                <div [ngClass]="['d-flex justify-content-start align-items-center px-4']">
                    <i [ngClass]="['fas fa-briefcase m-0 me-2 i-font-header']"></i>
                    <h5 [ngClass]="['modal-title']" id="viewProjectModalLabel"> {{ project.title }}</h5>
                </div>
                <button type="button" [ngClass]="['btn-close']" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [ngClass]="['modal-body']">
                <div [ngClass]="['text-center']">
                    <img [src]="project.image" alt="Representación del proyecto: {{project.title}}" [ngClass]="['shadow p-3 rounded pro-card']" />
                    <h1 [ngClass]="['my-3']">{{ project.title }}</h1>
                    <button type="button" [ngClass]="['btn btn-outline-primary']" (click)="viewProject(project.id)" data-bs-dismiss="modal">
                        <i [ngClass]="['fas fa-external-link-alt']"></i> Saber más
                    </button>
                </div>
                <div [ngClass]="['d-flex justify-content-md-start mx-2']">
                    {{project.desc}}
                </div>
                <hr/>
                <h4>#Tags</h4>
                <div [ngClass]="['d-flex justify-content-center aling-items-center mx-2 my-3']">
                    <a *ngFor="let tag of project.tags; let i = index" [ngClass]="['mx-2 pointer']" (click)="listProjectByTag(tag)" data-bs-dismiss="modal">#{{tag}}</a>
                </div>
            </div>
            <div [ngClass]="['modal-footer']">
                <button type="button" [ngClass]="['btn btn-secondary']" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>