/* You can add global styles to this file, and also import other style files */

@import url("assets/fontawesome-5.15.2/css/all.min.css");
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* padding-bottom: 100px!important; */
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* background-color: #2d3b48!important;
    background-color: black!important;
    background-color: #f5f5f5!important; */
}

/* .i-a {
    background-color: #2d3b48!important;
    background-color: #12385c!important;
} */

/* Header */

/* header {
    display: block;
    position: relative;
    margin: auto;
    height: auto;
    padding: 1em!important;
    background-color: #295883;
    color: white;
}

.header a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 0px!important;
    margin: 10px;
    transition-duration: 500ms;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #header-navbar a {
    border-radius: 10px;
    padding: 10px!important;
  }
  
  #header-navbar a.active {
    background-color: rgb(7, 78, 150);
    border-radius: 10px;
    color: white!important;
  }
  
  #header-navbar a:hover {
    background-color: #074e9675;
  }
  
  .header-left {
    margin-bottom: 10px;
    float: left;
  }
  
  .fs-header-link {
    font-size: 35px!important;
  } */

.i-font-header {
  font-size: 2rem;
}

.h-font-header {
  font-family: nexa !important;
}

a {
  text-decoration: none !important;
}

.i-a {
  background-color: #2d3b48 !important;
  background-color: #12385c !important;
}

.h-border-r-btn {
  border-radius: 10px !important;
}

/* Home */

.title {
  font-family: nexa;
}

.title-span {
  color: #348de1;
  font-weight: lighter;
}

.fw-600 {
  font-weight: 600;
}

.nv-toggler-height {
  height: 36px !important;
}

/* Banner */

.banner {
  font-family: nexa;
  text-transform: uppercase;
  color: #295883 !important;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.357), rgba(0, 0, 0, 0.672)),
    url("assets/img/Ionut_Atudor.JPG");
  position: relative;
  margin-top: -52px;
  background-position: 30% 10%;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.banner-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-container a {
  position: relative;
  width: fit-content;
  font-family: Arial !important;
  color: white;
  background-color: #ffffff00;
  padding: 10px;
  margin-top: 30px;
  border-style: solid;
  border-width: 1.6px;
  border-color: #808080;
  /* border-radius: 20px; */
  border: 0px;
  border-bottom: 4px solid #348de1;
  cursor: pointer;
  transition: 400ms;
}

.banner-container a:hover {
  border-color: whitesmoke !important;
  background-color: whitesmoke !important;
  border-radius: 20px;
  color: #295883 !important;
  border-style: solid !important;
  box-shadow: 5px 2px 12px #8d8d8d !important;
}

/* CV */

.cv-container-wrapper {
  height: 841px;
}

.cv-container {
  position: absolute;
  left: 50%;
  margin-left: -297px;
  top: 190px;
  width: 595px;
  height: 841px;
  border-style: outset;
  overflow: hidden;
}

.cv-container-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

#bg_cv_img {
  content: url("assets/pdf/cv-pdf-background.jpg");
}

.div-cls_003 {
  position: absolute;
  left: 312.4px;
  top: 49.11px;
}
.div-cls_004 {
  position: absolute;
  left: 55.4px;
  top: 63.61px;
}
.div-cls_002 {
  position: absolute;
  left: 92.3px;
  top: 119.31px;
}
.div-cls_005 {
  position: absolute;
  left: 92.3px;
  top: 133.11px;
}
.div-cls_002 {
  position: absolute;
  left: 92.3px;
  top: 160.71px;
}
.div-cls_005 {
  position: absolute;
  left: 92.3px;
  top: 174.51px;
}
.div-cls_002 {
  position: absolute;
  left: 92.3px;
  top: 202.11px;
}
.div-cls_005 {
  position: absolute;
  left: 92.3px;
  top: 215.91px;
}
.div-cls_002 {
  position: absolute;
  left: 90.9px;
  top: 243.51px;
}
.div-cls_005 {
  position: absolute;
  left: 90.9px;
  top: 257.31px;
}
.div-cls_006 {
  position: absolute;
  left: 59.6px;
  top: 287.61px;
}
.div-cls_005 {
  position: absolute;
  left: 59.6px;
  top: 307.91px;
}
.div-cls_005 {
  position: absolute;
  left: 59.6px;
  top: 327.21px;
}
.div-cls_005 {
  position: absolute;
  left: 59.6px;
  top: 346.51px;
}
.div-cls_005 {
  position: absolute;
  left: 59.6px;
  top: 365.81px;
}
.div-cls_006 {
  position: absolute;
  left: 59.6px;
  top: 404.41px;
}
.div-cls_005 {
  position: absolute;
  left: 62.9px;
  top: 424.71px;
}
.div-cls_005 {
  position: absolute;
  left: 181.5px;
  top: 447.11px;
}
.div-cls_005 {
  position: absolute;
  left: 409.3px;
  top: 447.11px;
}
.div-cls_002 {
  position: absolute;
  left: 502.2px;
  top: 468.91px;
}
.div-cls_005 {
  position: absolute;
  left: 63px;
  top: 481.01px;
}
.div-cls_005 {
  position: absolute;
  left: 181.5px;
  top: 499.21px;
}
.div-cls_005 {
  position: absolute;
  left: 63px;
  top: 514.41px;
}
.div-cls_005 {
  position: absolute;
  left: 181.5px;
  top: 526.81px;
}
.div-cls_005 {
  position: absolute;
  left: 312.9px;
  top: 540.61px;
}
.div-cls_005 {
  position: absolute;
  left: 70.6px;
  top: 559.01px;
}
.div-cls_008 {
  position: absolute;
  left: 445.8px;
  top: 560.11px;
}
.div-cls_002 {
  position: absolute;
  left: 504.1px;
  top: 585.21px;
}
.div-cls_006 {
  position: absolute;
  left: 59.6px;
  top: 604.51px;
}
.div-cls_005 {
  position: absolute;
  left: 62.9px;
  top: 624.81px;
}
.div-cls_005 {
  position: absolute;
  left: 181.5px;
  top: 638.61px;
}
.div-cls_005 {
  position: absolute;
  left: 460.1px;
  top: 652.41px;
}
.div-cls_002 {
  position: absolute;
  left: 504.1px;
  top: 671.71px;
}
.div-cls_006 {
  position: absolute;
  left: 59.6px;
  top: 710.31px;
}
.div-cls_005 {
  position: absolute;
  left: 59.6px;
  top: 730.61px;
}
.div-cls_005 {
  position: absolute;
  left: 229.7px;
  top: 730.61px;
}
.div-cls_002 {
  position: absolute;
  left: 346.21px;
  top: 744.41px;
}

span.cls_003 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 14.1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

div.cls_003 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 14.1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

span.cls_004 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 25.1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

div.cls_004 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 25.1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

span.cls_002 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

div.cls_002 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

span.cls_005 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(41, 95, 153);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

div.cls_005 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(41, 95, 153);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

span.cls_006 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 12.1px;
  color: rgb(51, 100, 163);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

div.cls_006 {
  font-family: "Liberation Sans Narrow Bold", serif;
  font-size: 12.1px;
  color: rgb(51, 100, 163);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

span.cls_008 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(51, 100, 163);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

div.cls_008 {
  font-family: "Liberation Sans Narrow", serif;
  font-size: 12.1px;
  color: rgb(51, 100, 163);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* Project Card */

.pro-card {
  width: 300px !important;
  height: 300px !important;
}

/* .title-span-2 {
    color: #348de1;
    font-weight: lighter;
} */

/* Footer */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #ffffff;
  background-color: #2d3b48;
}
